body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.accordian {
    width: 400px;
    margin: 0 auto;
}

.header {
    background: #CCCCCC;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid burlywood;
}
.content {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;
    border: 1px solid burlywood;
}
.active .content {
    display: block;
}